{% extends "base.html" %}

{% block content %}
<div id="content_wrapper">
    <div id="nav_act"><p>Gruppen</p></div>
    <div id="content">
        {% for group in groups %}
            {% if forloop.first %}
                <ul class="b_list_fl">
            {% endif %}
            {% if forloop.counter|divisibleby:30 %}
                <li><a href="{% url 'group_detail' group.cn %}">{{ group.cn}}</a></li></ul><ul class="b_list_fl">
            {% else %}
                <li><a href="{% url 'group_detail' group.cn %}">{{ group.cn}}</a></li>
            {% endif %}
            {% if forloop.last %}
                <a href="{% url 'group_add' %}"><button class="b_add">+</button></a>
                </ul>
                <p class="fl_clear">Funfact: {{ forloop.counter }} Rechtegruppen!</p>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
