{% extends "base.html" %}

{% block content %}
<div id="content_wrapper">
    <div id="nav_act"><p>Gruppe > {{ object.cn }} > Details</p></div>
    <div id="content">
        <table class="t">
            <tr>
                <th>Besitzer</th>
                <td>
                    <ul class="b_list">
                    {% for owner in owners %}
                        <li><a href="{% url 'user_detail' owner.uid %}">{{ owner.cn }}</a></li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Gruppennummer</th>
                <td><p>{{ object.gidNumber }}</p></td>
            </tr>
            <tr>
                <th>Mitglieder</th>
                <td>
                <ul class="b_list">
                {% for member in members %}
                    <li><a href="{% url 'user_detail' member.uid %}">{{ member.cn }}</a></li>
                {% endfor %}
                </ul>
                </td>
                {% if invalidMembers %}
                    <td>
                    <ul class="b_list_invalid">
                    {% for invalid in invalidMembers %}
                        <li><a href="{% url 'former_user_list' %}">{{ invalid }}</a></li>
                    {% endfor %}
                    </ul>
                    </td>
                {% endif %}
            </tr>
            <tr>
                <td><a href="{% url 'group_list'  %}"><button class="b_ord">Zur&uuml;ck</button></a></td>
                <td><a href="{% url 'group_edit' object.cn %}"><button class="b_ord">Bearbeiten</button></a></td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}
