# -*- coding: utf-8 -*-

ADMINS = (
    ('admin', 'admin@localhost'),
)

MANAGERS = ADMINS

DATABASES = {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'db.sql',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    },
    'ldap': {
        'ENGINE': 'ldapdb.backends.ldap',
        'NAME': 'ldap://10.0.0.2/',
        'USER': 'cn=admin,dc=domain',
        'PASSWORD': 'xxxxxx',
     }
}
DATABASE_ROUTERS = ['ldapdb.router.Router']

SAMBA_SID = 'S-1-5-21-3463456345-3464363465-345634564'
DEFAULT_SHELL = '/bin/bash'

# for unicode use u"" like under EMPLOYEETYPES u"Laborräume"
TITLES = (
    ("Prof.", "Prof."),
    ("Dr.", "Dr."),
)

EMPLOYEETYPES = (
    (u"Laborräume", u"Laborräume"),
    ("Werkstatt", "Werkstatt"),
)

TEAMS = (
    ("werkstatt", "werkstatt"),
    ("laborratten", "laborratten"),
)

ORDERINGS = (
    ("30", "30: Dr."),
    ("10", "10: Prof."),
    ("1", "1: Chef"),
)

GROUPS = (
    ("20000", "group3"),
    ("20001", "group2"),
    ("20002", "group1"),
)

# LDAP_AUTH
AUTH_LDAP_SERVER_URI = "ldap://10.0.0.2"

AUTH_LDAP_BIND_DN = 'cn=admin,dc=domain'
AUTH_LDAP_BIND_PASSWORD = "xxxxxx"

AUTH_LDAP_USER_DN_TEMPLATE = "uid=%(user)s,ou=people,dc=domain"
AUTH_LDAP_USER_ATTR_MAP = {"first_name": "givenName", "last_name": "sn","username":"uid","email": "mail"}

