Django==1.5.2
PIL==1.1.7
django-auth-ldap==1.1.4
django-debug-toolbar==0.9.4
django-extensions==1.1.1
-e git+https://github.com/jlaine/django-ldapdb.git@7bc2528b95289b9e4dbefe8b647f6f079e02b67f#egg=django_ldapdb-dev
passlib==1.6.1
python-ldap==2.4.13
six==1.3.0
wsgiref==0.1.2
