<!DOCTYPE html>

<html>
  <head>
    <title>Iapp Admin</title>
    <meta charset="UTF-8">
      {% load staticfiles%}
      <link rel='stylesheet' type='text/css' href='{% static "iapp_admin/ch.css" %}' />
    {% block js %}
    {% endblock js %}
  </head>
  <body>
    <div id="main">
      <div id="top">
        <a class="mbutt" href="{% url 'user_list' %}">Users</a>
        <a class="mbutt" href="{% url 'group_list' %}">Groups</a>
        <a class="mbutt" href="{% url 'maillist_list' %}">Maillists</a>
        {% if user.is_authenticated %}
        <a class="mbutt" href="{% url 'logout' %}">Log out</a>
        {% endif %}
      </div>
      <div id="content">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </body>
</html>
