{% load custom_filters %}
<!DOCTYPE html>

<html>
  <head>
    <title>Iapp Admin</title>
    <meta charset="UTF-8">
      {% load staticfiles%}
      <link rel='stylesheet' type='text/css' href='{% static "iapp_admin/ch.css" %}' />
    {% block css %}
    {% endblock css %}
    {% block js %}
    {% endblock js %}
  </head>
  <body>
    <div id="top">
        <div id="menu">
            <ul class="nav">
            <li><a href="{% url 'user_list' %}">Benutzer</a></li>
            <li><a href="{% url 'group_list' %}">Gruppen</a></li>
            <li><a href="{% url 'maillist_list' %}">Maillisten</a></li>
            {% if user.username|is_admin %}
            <li><a href="{% url 'former_user_list' %}">Gelöschte</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li id="user">
                <a href="{% url 'user_detail' user %}">{{ user }}</a>
                <ul class="subnav">
                    <li><a href="{% url 'logout' %}">abmelden</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
        </div>
    </div>
    <div id="mid">
        {% block content %}
        {% endblock content %}
    </div>
    <div id="bottom"></div>
  </body>
</html>
