<!DOCTYPE html>

<html>
  <head>
    <title>Iapp Admin</title>
    <meta charset="UTF-8">
    {% block css %}
    {% endblock css %}
    {% block js %}
    {% endblock js %}
  </head>
  <body>
    <header>
    {% block header %}
      <a href="{% url 'user_list' %}">Users</a>
      <a href="{% url 'group_list' %}">Groups</a>
      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">Log out</a>
      {% endif %}
    {% endblock header %}
    </header>
    {% block content %}
    {% endblock content %}
  </body>
</html>
