{% extends "base.html" %}

{% block content %}
<div id="content_wrapper">
    <div id="nav_act"><p>Mailliste > {{ object.cn}}</p></div>
    <div id="content">
        <table class="t">
            <tr>
                <th>Beschreibung</th>
                <td><p>{{ object.description }}</p></td>
            </tr>
            <tr>
                <th>Besitzer</th>
                <td>
                    <ul class="b_list">
                        {% for owner in owners %}
                        <li><a href="{% url 'user_detail'  owner.uid %}">{{ owner.cn }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Mitglieder</th>
                <td>
                    <ul class="b_list">
                        {% for member in members %}
                        <li><a href="{% url 'user_detail'  member.uid %}">{{ member.cn }}</a></li>
                        {% endfor %}
			{% for r in object.rfc822MailMember %}
			<li><p>{{ r }}</p></li>
			{% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td><a href="{% url 'maillist_list'  %}"><button class="b_ord">Zur&uuml;ck</button></a></td>
                <td><a href="{% url 'maillist_edit' object.cn %}"><button class="b_ord">Bearbeiten</button></a></td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}
