{% extends "base.html" %}

{% block content %}
<div id="content_wrapper">
    <div id="nav_act"><p>Maillisten</p></div>
    <div id="content">
        {% for maillist in maillists %}
            {% if forloop.first %}
                <ul class="b_list_fl">
            {% endif %}
            {% if forloop.counter|divisibleby:20 %}
                <li><a href="{% url 'maillist_detail' maillist.cn %}">{{ maillist.cn }}</a></li></ul><ul class="b_list_fl">
            {% else %}
                <li><a href="{% url 'maillist_detail' maillist.cn %}">{{ maillist.cn }}</a></li>
            {% endif %}
            {% if forloop.last %}
                <a href="{% url 'maillist_add' %}"><button class="b_add">+</button></a>
                </ul>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
