{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
{% endblock css %}

{% block js %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(function() {
    $("#addMemberInput").click(function() {
        event.preventDefault();
        $("#memberList").append("<li class='i_ord'><input type='text' name='membercn' value='' /><input type='hidden' name='member' value='' /> <button class='b_rem'>-</button></li>")
        $("#memberList li:last > input[name='membercn']").autocomplete({
            source: "{% url 'ajax_user_autocomplete' %}",
            select: function (event, ui) {
                $(this).next().val(ui.item.dn);
            }
        });
        $("#memberList li:last > button").click(function() {
            event.preventDefault();
            $(this).parent().remove();
        });
    });
    $("#addOwnerInput").click(function() {
        event.preventDefault();
        $("#ownerList").append("<li class='i_ord'><input type='text' name='ownercn' value='' /><input type='hidden' name='owner' value='' /> <button class='b_rem'>-</button></li>")
        $("#ownerList li:last > input[name='ownercn']").autocomplete({
            source: "{% url 'ajax_user_autocomplete' %}",
            select: function (event, ui) {
                $(this).next().val(ui.item.dn);
            }
        });
        $("#ownerList li:last > button").click(function() {
            event.preventDefault();
            $(this).parent().remove();
        });
    });
    $("#addMailMemberInput").click(function() {
        event.preventDefault();
        $("#externList").append("<li class='i_ord'><input type='text' name='rfc822MailMember' value='' /> <button class='b_rem'>-</button></li>")
        $("#externList li:last > button").click(function() {
            event.preventDefault();
            $(this).parent().remove();
        });
    });
    $("li > button").click(function() {
        event.preventDefault();
        $(this).parent().remove();
    });
    $(document).ready(function () {
        $("input[name='membercn']").autocomplete({
            source: "{% url 'ajax_user_autocomplete' %}",
            select: function (event, ui) {
                $(this).next().val(ui.item.dn);
            }
        });
        $("input[name='ownercn']").autocomplete({
            source: "{% url 'ajax_user_autocomplete' %}",
            select: function (event, ui) {
                $(this).next().val(ui.item.dn);
            }
        });
    });
    $("input[value='Speichern']").click(function() {
        $("input[name='membercn']").each(function() {
            if ($(this).val() === '' || $(this).val() === null) {
                $(this).parent().remove();
            }
        });
        $("input[name='ownercn']").each(function() {
            if ($(this).val() === '' || $(this).val() === null) {
                $(this).parent().remove();
            }
        });
        $("input[name='rfc822MailMember']").each(function() {
            if ($(this).val() === '' || $(this).val() === null) {
                $(this).parent().remove();
            }
        });
    });
});

function getNewInsertion(oldValue, newValue, newPosition) {

    var from=0;
    var length=0;
    var text='';

    if(oldValue.length > newValue.length) {
        changeLength = oldValue.length - newValue.length;
        pos = newPosition;
        text = oldValue.substr(pos, changeLength);
    } else {
        changeLength = newValue.length - oldValue.length;
        pos = newPosition - changeLength;
        text = newValue.substr(pos, changeLength);
    }
  
    autofill(text + "@iapp.de");
    return {text:text, type:type, position: pos, changeLength: changeLength};
}

$(function() {

    $("#id_cn").data("old_value", $("#id_cn").val());
    $("#id_cn").bind("paste cut keydown",function(e) {
        var that = this;
        setTimeout(function() {
                if(typeof $(that).data("old_value") == "undefined") {
                    $(that).data("old_value",$(that).val());
                }
                getNewInsertion($(that).data("old_value"), $(that).val(), e.target.selectionStart);
                $(that).data("old_value",$(that).val());
            },200);
    })
}); 

function autofill(val) {
    $("#id_mail").val(val);
}
</script>
{% endblock js %}

{% block content %}
<div id="content_wrapper">
    <div id="nav_act"><p>Mailliste > {{ object.cn}}</p></div>
    <div id="content">
        <form action="" method="post">{% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.errors }}
            <table class="t">
                <tr>
                    <th><label for="{{ form.cn.auto_id }}">{{ form.cn.label }}</label></th><td class="i_ord">{{ form.cn }}</td>
                </tr>
                <tr>
                    <th><label for="{{ form.description.auto_id }}">{{ form.description.label }}</label></th><td class="i_ord">{{ form.description }}</td>
                </tr>
                <tr>
                    <th><label for="{{ form.mail.auto_id }}">{{ form.mail.label }}</label></th><td class="i_ord">{{ form.mail }}</td>
                </tr>
                <tr>
                    <th>Besitzer</th>
                    <td>
                    <ul id="ownerList">
                        {% for owner in form.owner.value %}
                        <li class="i_ord">
                            <input type="text" name="ownercn" value="{{ owner.cn }}" />
                            <input type="hidden" name="owner" value="{{ owner.dn }}" />
                            <button class="b_rem">-</button>
                        </li>
                        {% endfor %}
                        </ul>
                        <button class="b_add" id="addOwnerInput">+</button>
                    </td>
                </tr>
                <tr>
                    <th>Mitglieder</th>
                    <td>
                        <ul id="memberList">
                            {% for member in form.member.value %}
                            <li class="i_ord">
                            <input type="text" name="membercn" value="{{ member.cn }}" />
                            <input type="hidden" name="member" value="{{ member.dn }}" />
                            <button class="b_rem">-</button>
                            </li>
                            {% endfor %}
                        </ul>
                        <button class="b_add" id="addMemberInput">+</button>
                        </td>
                </tr>
                <tr>
                    <th>Externe Mails</th>
                    <td>
                        {% if not form.rfc822MailMember.value %}
                        <ul id="externList">
                            {% for member in form.rfc822MailMember.value %}
                            <li class="i_ord">
                            <input type="text" name="rfc822MailMember" value="{{ member }}" />
                            <button class="b_rem">-</button>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <button class="b_add" id="addMailMemberInput">+</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="b_ord" type="submit" value="Speichern" /></td>
                </tr>
            </table>
        </form>
        <table class="t_bd">
            <tr>
                <td><a href="{% url 'maillist_list' %}"><button class="b_ord">Abbrechen</button></td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}
