{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
{% endblock css %}

{% block js %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(function() {
    $("#addMemberInput").click(function() {
        event.preventDefault();
        $("#memberList").append("<li><input type='text' name='membercn' value='' /><input type='hidden' name='member' value='' /><button>-</button></li>")
        $("#memberList li:last > input[name='membercn']").autocomplete({
            source: "{% url 'ajax_user_autocomplete' %}",
            select: function (event, ui) {
                $(this).next().val(ui.item.dn);
            }
        });
        $("#memberList li:last > button").click(function() {
            event.preventDefault();
            $(this).parent().remove();
        });
    });
    $("#addOwnerInput").click(function() {
        event.preventDefault();
        $("#ownerList").append("<li><input type='text' name='ownercn' value='' /><input type='hidden' name='owner' value='' /><button>-</button></li>")
        $("#ownerList li:last > input[name='ownercn']").autocomplete({
            source: "{% url 'ajax_user_autocomplete' %}",
            select: function (event, ui) {
                $(this).next().val(ui.item.dn);
            }
        });
        $("#ownerList li:last > button").click(function() {
            event.preventDefault();
            $(this).parent().remove();
        });
    });
    $("#addMailMemberInput").click(function() {
        event.preventDefault();
        $("#externList").append("<li><input type='text' name='rfc822MailMember' value='' /><button>-</button></li>")
        $("#externList li:last > button").click(function() {
            event.preventDefault();
            $(this).parent().remove();
        });
    });
    $("li > button").click(function() {
        event.preventDefault();
        $(this).parent().remove();
    });
    $(document).ready(function () {
        $("input[name='membercn']").autocomplete({
            source: "{% url 'ajax_user_autocomplete' %}",
            select: function (event, ui) {
                $(this).next().val(ui.item.dn);
            }
        });
        $("input[name='ownercn']").autocomplete({
            source: "{% url 'ajax_user_autocomplete' %}",
            select: function (event, ui) {
                $(this).next().val(ui.item.dn);
            }
        });
    });
    $("input[value='Abschicken']").click(function() {
        $("input[name='membercn']").each(function() {
            if ($(this).val() === '' || $(this).val() === null) {
                $(this).parent().remove();
            }
        });
        $("input[name='ownercn']").each(function() {
            if ($(this).val() === '' || $(this).val() === null) {
                $(this).parent().remove();
            }
        });
        $("input[name='rfc822MailMember']").each(function() {
            if ($(this).val() === '' || $(this).val() === null) {
                $(this).parent().remove();
            }
        });
    });
});
</script>
{% endblock js %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.errors }}
    <p><label for="{{ form.cn.auto_id }}">{{ form.cn.label }}: </label>{{ form.cn }}</p>
    <p><label for="{{ form.description.auto_id }}">{{ form.description.label }}: </label>{{ form.description }}</p>
    <p><label for="{{ form.mail.auto_id }}">{{ form.mail.label }}: </label>{{ form.mail }}</p>
    <ul id="ownerList">
    {% for owner in form.owner.value %}
    <li>
        <input type="text" name="ownercn" value="{{ owner.cn }}" />
        <input type="hidden" name="owner" value="{{ owner.dn }}" />
        <button>-</button>
    </li>
    {% endfor %}
    </ul>
    <p><button id="addOwnerInput">+</button></p>
    <ul id="memberList">
    {% for member in form.member.value %}
    <li>
        <input type="text" name="membercn" value="{{ member.cn }}" />
        <input type="hidden" name="member" value="{{ member.dn }}" />
        <button>-</button>
    </li>
    {% endfor %}
    </ul>
    <p><button id="addMemberInput">+</button></p>
    <ul id="externList">
    {% for member in form.rfc822MailMember.value %}
    <li>
        <input type="text" name="rfc822MailMember" value="{{ member }}" />
        <button>-</button>
    </li>
    {% endfor %}
    </ul>
    <p><button id="addMailMemberInput">+</button></p>
    <input type="submit" value="Abschicken">
</form>
{% endblock content %}
