@import url(http://fonts.googleapis.com/css?family=Montserrat);
/*
colors

green: #1f7f5c;
silver: #bdc3c7;
blue: #3498db;

*/

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    }

#top {
    width: 100%;
    height: 50px;
    background: #212121;
}

#menu {
    width: 1200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

#content_wrapper {
    width: 1200px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background: #f0f0f0;
}

#content {
    width: 1140px;
    min-height: 700px;
    margin-left: auto;
    margin-right: auto;
}


#bottom{
    width: 100%;
    height: 40px;
    clear:both;
    background: #212121;
}

.nav {
    height: 50px;
    display: inline-block;
    background: #212121;
}

.nav li {
    float: left;
    position: relative;
}

.nav li  a {
    line-height: 50px;
    display: block;
    padding: 0 26px;
    font-size: 16px;
    color: white;
    border-left: 1px solid #2f2f2f;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.nav li a:hover{
    background-color: #2f2f2f;
    color: #3498db;
}

.subnav {
    visibility: hidden;
    position: absolute;
    top: 110%;
    right: 0;
    width: 150px;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
    background: #2f2f2f;
}
    
.subnav li {
    float: none;
}

.subnav li a {
    border-bottom: 1px solid #2f2f2f;
}

#user:hover .subnav {
    visibility: visible;
    top: 100%;
    opacity: 1;
}

#login {
    width: 300px;
    height: 120px;
    position: absolute;
    margin-top: 200px;
    margin-left: 450px;
}

#nav_act {
    width: 100%;
    height: 40px;
    background: #3498db;
}

#nav_act p {
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
    color: #ffffff;
    font-size: 14px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.fl_clear {
    clear:both;
}

/* Maillisten Darstellung Namen + Schaltflaechen */

/* schaltflaechenliste */
.b_list {
    display: inline-block;
}

.b_list li a {
    line-height: 30px;
    width: auto;
    display: block;
    margin: 2px 0;
    padding: 0 20px;
    font-size: 14px;
    background: #ffffff;
    color: #212121;
    transition: all 0.5s;
}

.b_list li a:hover {
    color: #ffffff;
    background: #3498db;
    opacity: 1;
}

/* schaltflaechenliste rot */
.b_list_invalid {
    margin-top: 0px;
}

.b_list_invalid li a {
    line-height: 30px;
    width: auto;
    display: block;
    margin: 2px 0;
    padding: 0 20px;
    font-size: 14px;
    background: #ffffff;
    color: #ff0000;
    transition: all 0.5s;
}

.b_list_invalid li a:hover {
    color: #ffffff;
    background: #ff0000;
    opacity: 1;
}

/* schaltflaechenliste floated*/
.b_list_fl {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.b_list_fl li {
    font-size: 14px;
}

.b_list_fl li a {
    line-height: 30px;
    width: auto;
    display: block;
    margin: 2px 0;
    padding: 0 20px;
    background: #ffffff;
    color: #212121;
    transition: all 0.5s;
}

.b_list_fl li a:hover {
    color: #ffffff;
    background: #3498db;
    opacity: 1;
}

/* schaltflaeche normal mit variablem text */
.b_ord {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    font-size: 12px;
    color: #b7b7b7;
    background: #ffffff;
    border: 2px solid #b7b7b7;
}

.b_ord:hover {
    color: #3498db;
    border: 2px solid #3498db;
}

.b_ord:active {
    color: #ffffff;
    background: #3498db;
}

.b_ord_r {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    font-size: 12px;
    color: #b7b7b7;
    background: #ffffff;
    border: 2px solid #b7b7b7;
}

.b_ord_r:hover {
    color: #ff0000;
    border: 2px solid #ff0000;
}

.b_ord_r:active {
    color: #ffffff;
    background: #ff0000;
}

/* schaltflaeche hinzufuegen*/
.b_add {
    width: 24px;
    height: 24px;
    font-size: 14px;
    color: #b7b7b7;
    background: #ffffff;
    border: 2px solid #b7b7b7;
}

.b_add:hover {
    color: #3498db;
    border: 2px solid #3498db;
}

.b_add:active {
    color: #ffffff;
    background: #3498db;
}

/* schaltflaeche entfernen*/
.b_rem {
    width: 24px;
    height: 24px;
    font-size: 14px;
    color: #b7b7b7;
    background: #ffffff;
    border: 2px solid #b7b7b7;
}

.b_rem:hover {
    color: #ff0000;
    border: 2px solid #ff0000;
}

.b_rem:active {
    color: #ffffff;
    background: #ff0000;
}

/* tabelle standard */
.t th {
    width: 100px;
    background: #ffffff;
    font-size: 14px;
    padding: 10px 20px;
    color: #3498db;
    text-align: left;
    vertical-align: text-top;
    font-weight: normal;
}

.t td {
    min-width: 100px;
    font-size: 14px;
    background: #ffffff;
    vertical-align: top;
}

.t  td p { padding: 10px 20px; }

/* tabelle zurueck abbrechen */
.t_bd td {
    width: 140px;
    font-size: 14px;
    background: #ffffff;
}

.t_bd td p { padding: 10px 20px; }

/* Eingabemethoden */
/* input text */
.i_ord input {
    width: 200px;
    height: 20px;
    margin-bottom: 2px;
    font-size: 14px;
    border: 2px solid #b7b7b7;
}

.i_ord input:hover {
    border: 2px solid #3498db;
}

.i_ord input:focus {
    border: 2px solid #3498db;
    background: #3498db;
}

.i_ord input:active {
    border: 2px solid #3498db;
}

/* jquery ui */
/* deaktiviert ergebnisinfo fuer autocomplete */
.ui-helper-hidden-accessible { display:none; }

/* autocomplete auswahl */
.ui-menu-item {
    width: 200px;
    height: 20px;
    font-size: 14px;
    background: #ffffff;
}

.ui-menu-item:hover {
    background: #3498db;
}