{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
{% endblock css %}

{% block js %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(function() {
    $(".date").datepicker({ dateFormat: 'dd.mm.yy' });
    $("#addGroupInput").click(function() {
        event.preventDefault();
        $("#groupList").append("<li class='i_ord'><input type='text' name='userGroups' value='' /><button class='b_rem'>-</button></li>")
        $("#groupList li:last > input[name='userGroups']").autocomplete({
            source: "{% url 'ajax_group_autocomplete' %}",
            select: function (event, ui) {
                $(this).val(ui.item.value);
            }
        });
        $("#groupList li:last > button").click(function() {
            event.preventDefault();
            $(this).parent().remove();
        });
    });
    $("li > button").click(function() {
        event.preventDefault();
        $(this).parent().remove();
    });
    $(document).ready(function () {
        $("input[name='userGroups']").autocomplete({
            source: "{% url 'ajax_group_autocomplete' %}",
            select: function (event, ui) {
                $(this).val(ui.item.value);
            }
        });
    });
    $("input[value='Abschicken']").click(function() {
        $("input[name='userGroups']").each(function() {
            if ($(this).val() === '' || $(this).val() === null) {
                $(this).parent().remove();
            }
        });
    });
});
</script>
{% endblock js %}

{% block content %}
<div id="content_wrapper">
  {% if form.cn.value %}
  <div id="nav_act"><p>Benutzer > {{ form.cn.value }} > Bearbeiten</p></div>
  {% else %}
  <div id="nav_act"><p>Benutzer > Erstellen</p></div>
  {% endif %}
    <div id="content">
        {% if photoUrl %}
        <img style="float: right;" id="userPhoto" src="{{ MEDIA_URL }}/{{ photoUrl }}"/>
        {% endif %}
        <form action="" enctype="multipart/form-data" method="post" autocomplete="off">{% csrf_token %}
            <table class="t">
                <tr>
                    <th>
                        <label for="{{ form.title.auto_id }}">{{ form.title.label }}</label>
                    </th>
                    <td class="i_ord">{{ form.title }}</td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.givenName.auto_id }}">{{ form.givenName.label }}</label>
                    </th>
                    <td class="i_ord">{{ form.givenName }}</td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.sn.auto_id }}">{{ form.sn.label }}</label>
                    </th>
                    <td class="i_ord">{{ form.sn }}</td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.gecos.auto_id }}">{{ form.gecos.label }}</label>
                    </th>
                    <td class="i_ord">{{ form.gecos }}</td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.mail.auto_id }}">{{ form.mail.label }}</label>
                    </th>
                    <td class="i_ord">{{ form.mail }}</td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.mobile.auto_id }}">{{ form.mobile.label }}</label>
                    </th>
                    <td class="i_ord">{{ form.mobile }}</td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.facsimileTelephoneNumber.auto_id }}">{{ form.facsimileTelephoneNumber.label }}</label>
                    </th>
                    <td class="i_ord">{{ form.facsimileTelephoneNumber }}</td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.employeeType.auto_id }}">{{ form.employeeType.label }}</label>
                    </th>
                    <td class="i_ord">{{ form.employeeType }}</td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.team.auto_id }}">{{ form.team.label }}</label>
                    </th>
                    <td class="i_ord">{{ form.team }}</td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.photo.auto_id }}">{{ form.photo.label }}</label>
                    </th>
                    <td class="i_ord">{{ form.photo }}</td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.uidNumber.auto_id }}">{{ form.uidNumber.label }}</label>
                    </th>
                    <td class="i_ord">{{ form.uidNumber }}</td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.gidNumber.auto_id }}">{{ form.gidNumber.label }}</label>
                    </th>
                    <td class="i_ord">{{ form.gidNumber }}</td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.uid.auto_id }}">{{ form.uid.label }}</label>
                    </th>
                    <td class="i_ord">{{ form.uid }}</td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.deIappOrder.auto_id }}">{{ form.deIappOrder.label }}</label>
                    </th>
                    <td class="i_ord">{{ form.deIappOrder }}</td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.deIappRole.auto_id }}">{{ form.deIappRole.label }}</label>
                    </th>
                    <td class="i_ord">{{ form.deIappRole }}</td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.deIappBirthday.auto_id }}">{{ form.deIappBirthday.label }}</label>
                    </th>
                    <td class="i_ord">{{ form.deIappBirthday }}</td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.userPassword1.auto_id }}">{{ form.userPassword1.label }}</label>
                    </th>
                    <td class="i_ord">{{ form.userPassword1 }}</td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.userPassword2.auto_id }}">{{ form.userPassword2.label }}</label>
                    </th>
                    <td class="i_ord">{{ form.userPassword2 }}</td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.room.auto_id }}">{{ form.room.label }}</label>
                    </th>
                    <td class="i_ord">{{ form.room }}</td>
                </tr>
                <tr>
                    <th>Gruppen</th>
                    <td>
                    <ul id="groupList">
                        {% for group in object.groups %}
                        <li class="i_ord">
                            <input type="text" name="userGroups" value="{{ group.cn }}" />
                            <button class="b_rem">-</button>
                        </li>
                        {% endfor %}
                        </ul>
                        <button class="b_add" id="addGroupInput">+</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="b_ord" type="submit" value="Speichern" /></td>
                </tr>
            </table>
        </form>
        {% if object.uid %}
        <table class="t">
            <tr><td><a href="{% url 'user_delete' object.uid %}"><button class="b_ord_r">L&ouml;schen</button></a></td></tr>
        </table>
        {% endif %}
    </div>
</div>

{% endblock content %}
