{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
{% endblock css %}

{% block js %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(function() {
    $(".date").datepicker({ dateFormat: 'dd.mm.yy' });
    $("#addGroupInput").click(function() {
        event.preventDefault();
        $("#groupList").append("<li><input type='text' name='userGroups' value='' /><button>-</button></li>")
        $("#groupList li:last > input[name='userGroups']").autocomplete({
            source: "{% url 'ajax_group_autocomplete' %}",
            select: function (event, ui) {
                $(this).val(ui.item.value);
            }
        });
        $("#groupList li:last > button").click(function() {
            event.preventDefault();
            $(this).parent().remove();
        });
    });
    $("li > button").click(function() {
        event.preventDefault();
        $(this).parent().remove();
    });
    $(document).ready(function () {
        $("input[name='userGroups']").autocomplete({
            source: "{% url 'ajax_group_autocomplete' %}",
            select: function (event, ui) {
                $(this).val(ui.item.value);
            }
        });
    });
    $("input[value='Abschicken']").click(function() {
        $("input[name='userGroups']").each(function() {
            if ($(this).val() === '' || $(this).val() === null) {
                $(this).parent().remove();
            }
        });
    });
});
</script>
{% endblock js %}

{% block content %}
<img src="{{ MEDIA_URL }}/{{ photoUrl }}"/>
<form action="" enctype="multipart/form-data" method="post" autocomplete="off">{% csrf_token %}
    {{ form.as_p }}
    <ul id="groupList">
    {% for group in userGroups %}
        <li><input type="text" name="userGroups" value="{{ group.cn }}" /><button>-</button></li>
    {% endfor %}
    </ul>
    <button id="addGroupInput">+</button>
    <input type="submit" value="Abschicken" />
</form>
{% endblock content %}
