{% extends "base.html" %}

{% block css %}
{% endblock css %}

{% block js %}
{% endblock js %}

{% block content %}
<div id="content_wrapper">
    <div id="nav_act"><p>User löschen > {{ user.cn }}</p></div>
    <div id="content">
        <form action="" method="post">{% csrf_token %}
            <table class="t">
                <tr>
                    <td><p>Wollen Sie wirklich {{ user.cn }} löschen?</p></td>
                    <td><input class="b_ord_r" type="submit" value="Ja" /></td></tr>
            </table>
        </form>
        <table class="t">
            <tr>
                <td colspan="2"><a href="{% url 'user_detail' user.uid %}"><button class="b_ord">Abbrechen</button></a></td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}
