{% extends "base.html" %}

{% block content %}
<div id="content_wrapper">
    <div id="nav_act"><p>Benutzer</p></div>
    <div id="content">
        {% for user in object_list %}
            {% if forloop.first %}
                <ul class="b_list_fl">
            {% endif %}
            {% if forloop.counter|divisibleby:30 %}
                <li><a href="{% url 'user_detail' user.uid %}">{{ user.cn }}</a></li></ul><ul class="b_list_fl">
            {% else %}
                <li><a href="{% url 'user_detail' user.uid %}">{{ user.cn }}</a></li>
            {% endif %}
            {% if forloop.last %}
                </ul>
                <p class="fl_clear"></p>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
