{% extends "base.html" %}

{% block content %}
<div id="content_wrapper">
    <div id="nav_act"><p>Anmelden</p></div>
    <div id="content">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div id="login">
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table class="t">
<tr>
    <th>{{ form.username.label_tag }}</th>
    <td class="i_ord">{{ form.username }}</td>
</tr>
<tr>
    <th>{{ form.password.label_tag }}</th>
    <td class="i_ord">{{ form.password }}</td>
</tr>
<tr>
    <td colspan="2">
        <input class="b_ord" type="submit" value="anmelden" />
        <input type="hidden" name="next" value="{{ next }}" />
    </td>
</tr>
</table>
</form>
</div>
    </div>
</div>
{% endblock %}
